$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;

}

/* Custom page header */
.header {
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  color: #183958;
}

/* Custom page instruction of how you can use gallery */
.instrucction {
    font-family: Arial;
    font-weight: lighter;
    font-size: 18px;
    color: #183958;
}

/* Design basic card gallery */
.card {
    font-family: Arial;
    margin-bottom: 30px;
}

/* Design title card gallery */
.card > .title {
    font-weight: bold;
    font-size: 24px;
    color: #183958;
}

/* Design text card gallery */
.card > .text {
    font-weight: lighter;
    font-size: 24px;
    margin-bottom: 15px !important;
    color: #183958;
}

/* Width image card gallery */
.image{
    width: 100%;
}

/* Change the content modal overlay */
.modal-content{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.0);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

/* title content at card */
.title{
    font-weight: bold;
    font-size: 24px;
    //margin-bottom: 15px !important;
    color: #ffffff;
}

/* text content at card */
.text{
    font-weight: bold;
    font-size: 18px;
    //margin-bottom: 15px !important;
    color: #ffffff;
}

/* design descripcion content at card */
.descripcion{
    font-weight: lighter;
    font-size: 14px;
    color: #ffffff;
}

/* design price content at card */
.price{
    font-family: Arial;
    font-style:italic;
    font-size: 14px;
    color: #ffcccc;
}

/* design modal content at card in overlay*/
.modal{
    font-family: Arial;
}

/* design modal content at card in overlay*/
.modal > .image{
    width: 100%;
    height: auto;
}

/* opacity 70% in overlay */
.modal-backdrop
{
    opacity:0.7 !important;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    padding-bottom: 19px;
    color: #ffffff;
    text-align: center;
    background-color: #183958;
    border-top: 1px solid #e5e5e5;
}

a {
    color: #ffffff;
}

a:focus, a:hover, a:active {
   color: #8fffff;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Design the card for desktop*/
/* Responsive: Portrait desktop and up */
@media screen and (min-width: 992px) {
    /*Size image container*/
    .container {
        min-width: 992px;
    }
    
    /* Width overlay card view */
    .modal-sm {    
        width: 649px;
    }
    
    /* Design image close card  */
    .close{
        margin-top: 5px;
        margin-right: 1%;
        opacity: 1 !important;
    }

    /* Design image previews card  */
    .prev {
        margin-left: 1%;
        margin-top: 28%;
        position: absolute;
    }
    
    /* Design image next card  */
    .next {
        margin-left: 97%;
        margin-top: 28%;
        position: absolute;
    }

    /*Size image card */
    .card > .image{
        width: 100%;
        height: auto;
    }
  
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 767px) and (max-width: 991px) {
    
    .container {
        max-width: 991px;
    }
    
    .modal-sm {
        width: 440px;
    }
    
    .prev {
        margin-left: 2%;
        margin-top: 37%;
        position: absolute;
    }
    
    .next {
        margin-left: 95%;
        margin-top: 37%;
        position: absolute;
    }
    
    .col-md-4 {
        width: 33.3333333333% !important;
        float: left !important;
    }
    
    .card > .image{
        width: 100%;
        height: auto;
    }
    
    .close{
        margin-top: 11px;
        margin-right: 7px;
        opacity: 1 !important;
    }
    
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

/* Responsive: Portrait smartphone devices and up */
@media screen and (min-width: 321px) and (max-width:767px) {
    .container {
        max-width: 767px;
    }
    
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    
    .modal-sm {    
        width: 355px;
        margin-top: 50px;
    }
    
    .close {
        margin-top: 2%;
        margin-right: 2%;
        margin-bottom: 5px;
        opacity: 1 !important;
    }
    
    .prev{
        position: absolute;
        margin-left: -13%;
        margin-top: -140%;
    }
    
    .next {
        position: absolute;
        margin-left: 108%;
        margin-top: -147%;
    }
    
    .card > .image{
        width: 100%;
        height: auto;
    }

    .card {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    .card > .image{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
}

/* Responsive: Portrait smartphone devices and up */
@media screen and (max-width:320px) {
    .container {
        max-width: 320px;
    }
    
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    
    .modal-sm {    
        width: 301px;
        margin-top: 30px;
    }
    
    .close {
        margin-top: 2%;
        margin-right: 2%;
        margin-bottom: 5px;
        opacity: 1 !important;
    }
    
    .prev{
        margin-left: -13%;
        margin-top: -140%;
    }
    
    .next {
        position: absolute;
        margin-left: 108%;
        margin-top: -147%;
    }
    
    .card > .image{
        width: 100%;
        height: auto;
    }

    .card {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    .card > .image{
        width: 240px;
        height: auto;
        margin-bottom: 15px;
    }
}
